<launch>
  <arg name="camera_name" default="sony_cam1" />
  <arg name="cb_size" default="6x5" />
  <arg name="cb_square" default="0.025" />
  <!-- Set the node name and package -->
  <node name="camera_calibration"
        pkg="camera_calibration"
        type="cameracalibrator.py"
        >
    <!-- Set the calibration target parameters -->
    <param name="size" value="$(arg cb_size)"/>
    <param name="square" value="$(arg cb_square)"/>
    <param name="k_coefficients" value="2"/>
    <param name="fix_principal_point" value="true"/>
    <param name="fix_aspect_ratio" value="true"/>
    <!-- Set the camera topics -->
    <remap from="image" to="/$(arg camera_name)/image_raw"/>
    <remap from="camera" to="/$(arg camera_name)"/>
  </node>
</launch>
