<launch>
    <arg name="camera" default="sony_cam1" />
    <arg name="cb_size" default="5x6" />
    <arg name="cb_square" default="0.025" />

    <node name="calib"
          pkg="camera_calibration"
          type="cameracalibrator.py"
          args="--size $(arg cb_size) --square $(arg cb_square) $(arg camera) image:=image camera:=camera"
          output="screen">
        <remap from="image" to="$(arg camera)/image_raw"/>
        <remap from="camera" to="$(arg camera)"/>
    </node>
</launch>
