<launch>

    <arg name="launch_nuc" default="sony_cam1" />
    <arg name="device_id" default="0" />

    <group if = "$(eval launch_nuc == 'sony_cam1')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="camera_id" value="$(arg device_id)" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'sony_cam2')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="camera_id" value="$(arg device_id)" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'sony_cam3')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="camera_id" value="$(arg device_id)" />
        </include>
    </group>
</launch>

