<launch>

    <arg name="launch_nuc" default="sony_cam1" />


    <group if = "$(eval launch_nuc == 'sony_cam0')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_ip" value="192.168.1.200" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'sony_cam1')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_ip" value="192.168.1.101" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'sony_cam2')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_ip" value="192.168.1.102" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'sony_cam3')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_ip" value="192.168.1.103" />
        </include>
    </group>

        <group if = "$(eval launch_nuc == 'sony_cam4')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_ip" value="192.168.1.104" />
        </include>
    </group>

        <group if = "$(eval launch_nuc == 'sony_cam5')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_ip" value="192.168.1.105" />
        </include>
    </group>
</launch>

