<launch>

    <arg name="launch_nuc" default="sony_cam1" />
    <group if = "$(eval launch_nuc == 'sony_cam1')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="camera_id" value="video_cam1" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'sony_cam2')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="camera_id" value="video_cam2" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'sony_cam3')">
        <include file="$(find dslr_cam)/launch/camera.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="camera_id" value="video_cam3" />
        </include>
    </group>
</launch>

