<!-- <launch>
    <arg name="camera_name" default="sony_cam1" />
    <node   name="$(arg camera_name)_view"
            pkg="dslr_cam"
            type="camera_view.py"
            output="screen">
        <param name="camera_name" value="$(arg camera_name)"/>
    </node>
</launch>


 -->

<launch>
    <arg name="camera_name" default="sony_cam1" />
    <node   name="$(arg camera_name)_view"
            pkg="image_view"
            type="image_view"
            output="screen">
    <remap from="image" to="/$(arg camera_name)/image_raw"/>
    </node>
</launch>






