[Desktop Entry]
Type=Application
Name=ROS
Exec=gnome-terminal -- /bin/bash -c "source /opt/ros/noetic/setup.bash && roscore; exec /bin/bash"
Icon=/home/sitl1/ros_ws/bashfiles/ros.png
Terminal=false
Categories=Utility; Application;