<launch>
    
    <!-- Common argument -->
    <arg name="launch_nuc" default="nuc1"/>
    
    <!-- NUC1 -->
    <group if="$(eval launch_nuc == 'nuc1')">
        <include file="$(find gige_cam_driver)/launch/cam_basic.launch">
            <arg name="nuc_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="0" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

    <!-- NUC2 -->
    <group if="$(eval launch_nuc == 'nuc2')">
        <include file="$(find gige_cam_driver)/launch/cam_basic.launch">
            <arg name="nuc_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="1" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

    <!-- NUC3 -->
    <group if="$(eval launch_nuc == 'nuc3')">
        <include file="$(find gige_cam_driver)/launch/cam_basic.launch">
            <arg name="nuc_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="2" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>
</launch>
