<launch>

    <arg name="launch_nuc" default="camera_1" />


    <group if = "$(eval launch_nuc == 'camera_0')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="0" />
            <arg name="device_ip" value="192.168.1.200" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'camera_1')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="0" />
            <arg name="device_ip" value="192.168.1.11" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'camera_2')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="1" />
            <arg name="device_ip" value="192.168.1.12" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'camera_3')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="2" />
            <arg name="device_ip" value="192.168.1.13" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

        <group if = "$(eval launch_nuc == 'camera_4')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="3" />
            <arg name="device_ip" value="192.168.1.14" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

        <group if = "$(eval launch_nuc == 'camera_5')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="4" />
            <arg name="device_ip" value="192.168.1.15" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>
</launch>

